body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #1e293b;
}

nav h2 {
    color: #38bdf8;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #38bdf8;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 50px;
}

.hero span {
    color: #38bdf8;
}

.hero-img img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #38bdf8;
}

section {
    padding: 60px 50px;
}

h2 {
    color: #38bdf8;
    margin-bottom: 20px;
}

.skill-box span {
    background: #38bdf8;
    padding: 8px 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 20px;
    color: #0f172a;
    font-weight: bold;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

#contact a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1e293b;
}
